<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.monsoon.s1next">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- see https://code.google.com/p/android/issues/detail?id=170734 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="cl.monsoon.s1next.widget.AppGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="6e8e30660fec3876e701e69587257f60" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/activity_label_login"
            android:windowSoftInputMode="stateVisible|adjustNothing" />

        <activity
            android:name=".view.activity.ForumActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/settings" />

        <activity
            android:name=".view.activity.HelpActivity"
            android:label="@string/help" />

        <activity android:name=".view.activity.FavouriteListActivity" />

        <activity android:name=".view.activity.ThreadListActivity" />

        <activity android:name=".view.activity.PostListActivity" />

        <activity
            android:name=".view.activity.PostListGatewayActivity"
            android:theme="@style/Theme.Translucent.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.saraba1st.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.ReplyActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.GalleryActivity"
            android:theme="@style/Theme.Gallery" />

        <activity
            android:name=".view.activity.OpenSourceLicensesActivity"
            android:label="@string/open_source_licenses" />

        <activity android:name=".view.activity.OpenSourceLicenseDetailActivity" />

    </application>

</manifest>
