<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ykrank.s1next">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- to update image loader policy -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- only need IMEI to verify user -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- see https://code.google.com/p/android/issues/detail?id=170734 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- self update -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="bbs.saraba1st.com"
                android:pathPattern=".*"
                android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light.AfternoonTea"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:theme">

        <!-- Bugly -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${APP_CHANNEL}" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />

        <!-- TalkingData-->
        <meta-data
            android:name="TD_APP_ID"
            android:value="94B8FFC6A2CF49D6B1CBE8378B0B99C9" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${APP_CHANNEL}" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/activity_label_login"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".view.page.app.AppLoginActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/action_app_login"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".view.activity.ForumActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.SettingsActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/settings" />

        <activity
            android:name=".view.activity.HelpActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/help"
            android:process=":webView" />

        <activity
            android:name=".view.activity.FavouriteListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.ThreadListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.page.post.PostListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.page.app.AppPostListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.page.post.PostListGatewayActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:theme="@style/Theme.Translucent.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.saraba1st.com"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <data
                    android:host="www.saraba1st.com"
                    android:pathPattern=".*"
                    android:scheme="https" />

                <data
                    android:host="bbs.saraba1st.com"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <data
                    android:host="bbs.saraba1st.com"
                    android:pathPattern=".*"
                    android:scheme="https" />

                <data
                    android:host="bbs.stage1.cc"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <data
                    android:host="bbs.stage1.cc"
                    android:pathPattern=".*"
                    android:scheme="https" />

                <data
                    android:host="stage1st.com"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <data
                    android:host="stage1st.com"
                    android:pathPattern=".*"
                    android:scheme="https" />

                <data
                    android:host="www.stage1st.com"
                    android:pathPattern=".*"
                    android:scheme="http" />

                <data
                    android:host="www.stage1st.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.ReplyActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode" />

        <activity
            android:name=".view.activity.NewThreadActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_new_thread" />

        <activity
            android:name=".view.page.edit.EditPostActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_edit_post" />

        <activity
            android:name=".view.activity.GalleryActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:theme="@style/Theme.Gallery" />

        <activity
            android:name=".view.activity.PmActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/pms"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.NewPmActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_new_pm" />

        <activity
            android:name=".view.activity.SearchActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.NoteActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_note"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.UserHomeActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label=""
            android:theme="@style/Theme.Translucent.AfternoonTea"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.FriendListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_friends"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.UserThreadActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.UserReplyActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.NewRateActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.NewReportActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.HistoryActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/title_history"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.DarkRoomActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.OpenSourceLicensesActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/open_source_licenses" />

        <activity
            android:name=".view.activity.OpenSourceLicenseDetailActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode" />

        <activity
            android:name=".view.activity.WebViewActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan" />

        <!-- FilePicker -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.RateDetailsListActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:label="@string/rate" />

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="uiMode"
            android:exported="true" />
    </application>

</manifest>
