<manifest
    package="cl.monsoon.s1next"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="cl.monsoon.s1next.widget.MyGlideModule"
            android:value="GlideModule"/>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="6e8e30660fec3876e701e69587257f60"/>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/activity_label_login"/>

        <activity
            android:name=".activity.ForumActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ThreadListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ForumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ForumActivity"/>
        </activity>

        <activity
            android:name=".activity.SubForumThreadListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ThreadListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ThreadListActivity"/>
        </activity>

        <activity
            android:name=".activity.PostListActivity"
            android:parentActivityName=".activity.ThreadListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ThreadListActivity"/>
        </activity>

        <activity
            android:name=".activity.SubForumPostListActivity"
            android:parentActivityName=".activity.SubForumThreadListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SubForumPostListActivity"/>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"/>

        <activity
            android:name=".activity.ReplyActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/GalleryTheme"/>

    </application>

</manifest>
